.container-movies {
    display: flex;
    align-items: center;
    background-color: #15191C;
    width: 130px;
    height: 100vh;

    position: absolute;
    left: -38vw;
    transition: .50s;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;  
}

.movie__poster {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    text-align: center;
    transition: .25s;
}

.poster {
    width: 95px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

.movie-mobile--active {
    left: 0;
    transition: .50s
}

.menu-text {
    writing-mode: vertical-rl;
    color: #FFFFFF;
    margin-left: 38px;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    text-align:end;
    background-color: #15191C;
    cursor: pointer;
}

@media screen and (min-width:320px) {
    .container-movies {
        width: 140px;
    }
    .movie__poster {
        margin-left: 26px;
    }
    .menu-text {
        margin-left: 15px;
        font-size: 1.4rem;
    }
}
@media screen and (min-width:410px) {
    .container-movies {
        width: 160px;
    }

    .movie__poster {
        margin-left: 20px; 
    }

    .menu-text {
        margin-left: 30px;
        font-size: 1.4rem;
    }
}

@media screen and (min-width:500px) {
    .container-movies {
        width: auto;
        height: auto;
        background: rgba(0, 0, 0, 0);
        position: static;
        left: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .menu-text {
        display: none;
    }

    .movie {
        flex-direction: row;
        width: 400px;
        height: auto;
    }

    .movie__poster {
        margin-left: 0;
        height: 200px;
    }

    .poster {
        width: 80px;
        margin-top: 20px;
        box-shadow: 0 5px 5xp black;
    }

    .movie__poster:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: .25s;
    }
}

