.movie-theater {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 240px;
    margin-left: 10px;    
}

.total-price {
    font-size: 1.1rem;
}

.row {
    display: flex;
    color: #FFF;
}

.seat {
    width: 19px;
    height: 15px;
    border-radius: 10px 10px 0 0;
    background-color: #444451;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(3) {
    margin-right: 18px;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 60px;
    background-color: #FFF;
    

    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.legend {
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    transform-style: none;
    list-style-type: none;
    padding: 3px 3px;
    background: rgba(0, 0, 0, 0.6);
}

.legend__seat {
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: default;   
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.legend__seat .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.selected {
    background: #6feaf6;
    color: #6feaf6;
}

.occupied {
    background: #fff;
}

.btn {
    width: 85%;
    border-radius: 7px;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.356)
}

@media screen and (min-width:320px) {
    .seat {
        width: 20px;
        height: 16px;
    }
}

@media screen and (min-width:500px) {
    .movie-theater {
        perspective: 1000px;
        width: 290px;
        height: auto;
        padding: 10px;
    }

    .screen {
        transform: rotatex(-45deg);
        width: 90%;
        height: 75px;
        margin-bottom: 20px;
    }

    .seat {
        width: 25px;
        height: 21px;
    }

    .legend {
        margin-top: 20px;
    }

    .btn {
        margin-top: 20px;
    }

    .total-price {
        margin-bottom: 10px;
    }
}